---
import Layout from '../layouts/PageLayout.astro'
---

<Layout title='Tietoja' author='Juha Halmu' description='Ajatuksia näistä sivuista' type='article'>
	
<h2 class='text-3xl font-bold mb-4'>Tietoja</h2>

<h3>Olen Juha Halmu.</h3>
<p>Olen Web Developer, rennosti ilmaistuna devaaja. Tykkään historiasta, sukututkimuksesta ja musiikkimakuni on laaja. Olen myös melkein onnnistunut sijoittaja ja huumorintajuni on hyväksi havaittu.</p>
<h3>Koulutus</h3>
<p>Olen ylioppilas, ammoinen datanomi ja sen lisäksi lähihoitaja. Pääasiassa olen itseoppinut, mutta olen myös päivittänyt datanomikoulutusta mitä tulee ohjelmointiin.</p>
<h3>Projektit</h3>
<p>Katso <a href="/projects"> Projektit</a></p>
<h3>Ihminen</h3>
<p>Kyllä kiitos. Käydään vaikka kahvilla ja turistaan mukavia.</p>
<h3>Yhteystiedot</h3>
<p>Sijaitsen Helsingissä. Ota yhteyttä sosiaalisten linkkien kautta.</p>
<h3>Nämä sivut</h3>
<p>Nämä sivut on tehty Astrolla. Sivujen tekemisessä on käytetty harjoitusmielessä Artifical Intellicenceä. Kehitys jatkuu. Jos löydät teknisiä poikkeamia tai virheitä, niin alareunassa on linkki bugi-sivuille.</p>
</Layout>
