---
import Layout from '../layouts/PageLayout.astro'
---

<Layout title='Tietoja' author='Juha Halmu' description='Ajatuksia näistä sivuista' type='article'>
	<p>
		Nämä sivut on tehty käyttäen Astro-frameworkkia. Apuna on ollut Astro:n omaa dokumentaatiota ja
		esimerkkejä sekä muita lähteitä. Esimerikisi Artifical Intelligence. Ulkoasu on minun
		suunnittelmani, toteutuksena apuna erilaisia ai-vahvistettuja editoreita. Enemmän prosessista tulevissa teksteissä.
	</p>
	<p>
		Helsingissä, täyden kuun yönä <time datetime='2025-14-01'>14.1.2025</time>, muokattu <time datetime='2025-01-17'>17.1.2025</time> 
		<signature>Juha Halmu</signature
		>
	</p>
	<p>Mitä minuun ihmisenä, niin mennään vaikka kahville ja jutellaan lisää.</p>
</Layout>
