---
import Layout from '../layouts/PageLayout.astro'
---

<Layout title='Tietoja' author='Juha Halmu' description='Ajatuksia näistä sivuista' type='article'>
	
		<p>	
			Nämä sivut on tehty käyttäen Astro-frameworkkia. Apuna on ollut Astro:n omaa dokumentaatiota ja esimerkkejä sekä muita lähteitä. No, esimerikisi Artifical Intelligence. 
			Ulkoasu on minun suunnittelmani, toteutuksen teki Windsurf. Sen jälkeen olen muokannut sitä. Tänne piti tulla myös paljon muita toiminallisuuksia joita innokkaana yhdessä tekoälyn kanssa
			suunnittelimme, mutta vanhaa sanontaa käyttääkseni "housut olivat liian lyhyet".  
		</p>
		<p>
			Helsingissä, täyden kuun yönä <time datetime="2025-14-01">14.1.2025</time>, <signature>Juha Halmu</signature>
		</p>
		<p>
			Mitä minuun ihmisenä, niin mennään vaikka kahville ja jutellaan lisää. 
		</p>

</Layout>
