---
import Layout from '../layouts/PageLayout.astro'
---

<Layout title='Tietoja' author='Juha Halmu' description='Ajatuksia näistä sivuista' type='article'>
	
		<p>	
			Nämä sivut on tehty käyttäen Astro-frameworkkia. Apuna on ollut Astro:n omaa dokumentaatiota ja esimerkkejä sekä muita lähteitä. No, esimerikisi Artifical Intelligence. 
			Ulkoasu on minun suunnittelmani, toteutuksen teki Windsurf. Sen jälkeen olen muokannut sitä. Tänne piti tulla myös paljon muita toiminallisuuksia joita innokkaana yhdessä tekoälyn kanssa
			suunnittelimme, mutta vanhaa sanontaa käyttääkseni "housut olivat liian lyhyet".  
		</p>
		<p>
			Yleensähän minä siis olen se joka tekee kaiken itse, mutta nyt oli pakko turvautua tekoälyyn. Tarkoitan että en ole halunnut koskea javascriptiin, mutta toisaalta Astro on aina konseptina 
			kiinnostanut. Iso ongelma oli, että käyttämäni ohjelma ja minun tuoreuteni Ai-pohjaisessa kehityksessä ei ollut vielä kovin hedelmällinen yhdistelmä. Tai hedelmiä kyllä tuli, mutta syötävää
			jäi kovin vähän. Raapaisinkin n. 90% koodista bittiavaruuteen ja marmatin pitkin foorumeja. Luin sitten manuaalia ja se oli hyvä. Samoin käytin aiempaa sekamelskaa pohjana koska ulkoasuun koin 
			että voin olla tyytyväinen yli viisi minuuttia. 
		</p>
		<p>
			Valitettavasti en saanut GitHubin kanssa toimivaa kättelyä. Tai siis putkea kotikoneelta serverille via Github. Ehkä se on bugi joka korjaantuu. Vanha kunnon Google auttoi paljon ja toki tekoäly, mutta lopputulos oli sama. Onneksi opin vanhoja tapoja
			ja sain sivut internetsiin. Kun sivut on internetissä, niin niitä motivoituu korjaamaankin sitten ihan eri tavalla. Nyt pitäisi ulkoasun olla käytettvämpi ja kenties jopa toimivampi. Ei se mitään,
			onhan siinä naamani kuitenkin. 
		</p>
		<p>
			Jatkokehitystä tulee kyllä tapahtumaan. Se on näissä paljon luvattu, mutta jos saisi yhden jutun vielä kehitettyä. Näette sen kun se tulee. Sen pitäisi olla ihan helppoa Astrolla. Yksi ajatus olisi 
			leikellä ulkoasu seuraavaan projektiin ja tehdä sitten ihan eri kielellä se. Toki alunperin data tähän piti tulla erillisestä tietokannasta, mutta toisaalta on ollut kiva tutustua markdowniin. Tietenkään
			juuri näissä sivusivuissa se ei nyt toiminutkaan mutta kirjoitellaan sitten posteja myöhemmin.
		</p>
		<p>
			Helsingissä, täyden kuun yönä <time datetime="2025-14-01">14.1.2025</time>, <signature>Juha Halmu</signature>
		</p>
		<p>
			Mitä minuun ihmisenä, niin mennään vaikka kahville ja jutellaan lisää. 
		</p>


	
</Layout>
