---

---

<div
	class='prose-inverted prose-inline-code:text-white prose-signature:text-white prose prose-headings:text-white prose-h1:text-white prose-h2:text-white prose-h3:text-white prose-h4:text-white prose-h5:text-white prose-h6:text-white prose-p:text-white prose-a:text-white prose-a:hover:text-white prose-blockquote:text-white prose-strong:text-white prose-em:text-white prose-code:text-white prose-ol:text-white prose-ul:text-white prose-li:text-white prose-table:text-white prose-tr:text-white prose-th:text-white prose-td:text-white prose-img:text-white prose-hr:text-white'
>
	<slot />
</div>
<style>

:global(li) {
		margin-bottom: 0.5em;
		list-style: '\2192' outside;
		color: #dee1e7 !important;
	}
</style>
